.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}
.preloader .preloader-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*greycliff*/
@font-face {
  font-family: "greycliff_extrabold";
  src: url("../fonts/greycliffcf/greycliffcf-extrabold-webfont.eot");
  src: url("../fonts/greycliffcf/greycliffcf-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/greycliffcf/greycliffcf-extrabold-webfont.woff2") format("woff2"), url("../fonts/greycliffcf/greycliffcf-extrabold-webfont.woff") format("woff"), url("../fonts/greycliffcf/greycliffcf-extrabold-webfont.svg#greycliff_extrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "greycliff_demibold";
  src: url("../fonts/greycliffcf/greycliffcf-demibold-webfont.eot");
  src: url("../fonts/greycliffcf/greycliffcf-demibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/greycliffcf/greycliffcf-demibold-webfont.woff2") format("woff2"), url("../fonts/greycliffcf/greycliffcf-demibold-webfont.woff") format("woff"), url("../fonts/greycliffcf/greycliffcf-demibold-webfont.svg#greycliff_demibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "greycliff_bold";
  src: url("../fonts/greycliffcf/greycliffcf-bold-webfont.eot");
  src: url("../fonts/greycliffcf/greycliffcf-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/greycliffcf/greycliffcf-bold-webfont.woff2") format("woff2"), url("../fonts/greycliffcf/greycliffcf-bold-webfont.woff") format("woff"), url("../fonts/greycliffcf/greycliffcf-bold-webfont.svg#greycliff_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "greycliff_regular";
  src: url("../fonts/greycliffcf/greycliffcf-regular-webfont.eot");
  src: url("../fonts/greycliffcf/greycliffcf-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/greycliffcf/greycliffcf-regular-webfont.woff2") format("woff2"), url("../fonts/greycliffcf/greycliffcf-regular-webfont.woff") format("woff"), url("../fonts/greycliffcf/greycliffcf-regular-webfont.svg#greycliff_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gothamblack";
  src: url("../fonts/gotham/gotham-black-webfont.eot");
  src: url("../fonts/gotham/gotham-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/gotham-black-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-black-webfont.woff") format("woff"), url("../fonts/gotham/gotham-black-webfont.ttf") format("truetype"), url("../fonts/gotham/gotham-black-webfont.svg#gothamblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! MarkPro */
@font-face {
  font-family: "mark_problack";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.black-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.black-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.black-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.black-webfont.svg#mark_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_probold_italic";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.bold.italic-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.bold.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.bold.italic-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.bold.italic-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.bold.italic-webfont.svg#mark_probold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_probold";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.bold-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.bold-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.bold-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.bold-webfont.svg#mark_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_prohairline";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.hairline-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.hairline-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.hairline-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.hairline-webfont.svg#mark_prohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_proheavy_italic";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy.italic-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy.italic-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy.italic-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy.italic-webfont.svg#mark_proheavy_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_proheavy";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.heavy-webfont.svg#mark_proheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_promedium_italic";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.medium.italic-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.medium.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.medium.italic-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.medium.italic-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.medium.italic-webfont.svg#mark_promedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_promedium";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.medium-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.medium-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.medium-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.medium-webfont.svg#mark_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_proregular";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro-webfont.svg#mark_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mark_prohairline";
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.thin.italic-webfont.eot");
  src: url("../fonts/mark-pro/fontfont_ff.mark.pro.thin.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark-pro/fontfont_ff.mark.pro.thin.italic-webfont.woff2") format("woff2"), url("../fonts/mark-pro/fontfont_ff.mark.pro.thin.italic-webfont.woff") format("woff"), url("../fonts/mark-pro/fontfont_ff.mark.pro.thin.italic-webfont.svg#mark_prohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}
.customIcon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconFont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow2:before {
  content: "\e904";
}

.icon-back:before {
  content: "\e905";
}

.icon-download:before {
  content: "\e914";
}

.icon-email:before {
  content: "\e915";
}

.icon-facebook:before {
  content: "\e916";
}

.icon-forward:before {
  content: "\e917";
}

.icon-instagram:before {
  content: "\e918";
}

.icon-plus2:before {
  content: "\e919";
}

.icon-return:before {
  content: "\e91a";
}

.icon-twitter:before {
  content: "\e91b";
}

.icon-whatsapp:before {
  content: "\e91c";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-camera:before {
  content: "\e901";
}

.icon-cross:before {
  content: "\e902";
}

.icon-cross2:before {
  content: "\e903";
}

.icon-hand:before {
  content: "\e906";
}

.icon-link:before {
  content: "\e907";
}

.icon-logout:before {
  content: "\e908";
}

.icon-minus:before {
  content: "\e909";
}

.icon-photo-upload:before {
  content: "\e90a";
}

.icon-photo:before {
  content: "\e90b";
}

.icon-plus:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e90d";
}

.icon-settings:before {
  content: "\e90e";
}

.icon-share:before {
  content: "\e90f";
}

.icon-tags:before {
  content: "\e910";
}

.icon-upload:before {
  content: "\e911";
  color: #074594;
}

.icon-user .path1:before {
  content: "\e912";
  color: rgb(255, 255, 255);
  opacity: 0.4;
}

.icon-user .path2:before {
  content: "\e913";
  margin-left: -0.7890625em;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */